name: build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Linting: autocorrect"
        continue-on-error: true
        run: |
          curl -fsSL https://raw.githubusercontent.com/huacnlee/autocorrect/main/install | sh
          autocorrect --fix

      - name: Prettify code
        run: |
          npx prettier --write **/*.md

      - uses: psf/black@stable
        continue-on-error: true
        with:
          jupyter: true
          options: "--line-length 120"

      - name: Determine if a PR should be submitted
        if: github.ref == 'refs/heads/main'
        id: file_changes
        run: |
          git add -A
          if git diff-index --quiet --cached HEAD --; then
            echo "should_submit=false" >> "$GITHUB_OUTPUT"
          else
            echo "should_submit=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Submit PR from linting
        if: steps.file_changes.outputs.should_submit == 'true' && github.ref == 'refs/heads/main'
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Auto fix formatting from GitHub Actions run ${{ github.run_number }}"
          assignees: "${{ github.actor }}"
          branch: auto-fix-actions-${{ github.run_number }}
          delete-branch: true
          title: "Fix formatting from GitHub Actions run ${{ github.run_number }}"
          body: |
            Attempt to automatically fix formatting issues in ${{ github.sha }}.

            This PR is generated by GitHub Actions [run ${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}). Please choose **Squash and Merge** for this PR.
